<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Polyhack Map</title>
<meta name="description" content="now u wont get lost">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width user-scalable=no">

<link href="css/main.css" rel="stylesheet" type="text/css" media="screen" />

</head>

<body>

<div id="form-container">
    <form>
        <input type="text" name="start" placeholder="Starting Location"><br>
        <input type="text" name="end" placeholder="Destination"><br>
        <button>GO</button>
    </form>    
</div>
<div id="map-container">
 MAP GOES HERE    
</div>
    
    
</body>
<script src="js/main.js"></script>


</html>